@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    color: #383A48;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 26px;
}

@media (min-width: 1600px) {
    .main {
        font-size: 28px;
        line-height: 45px;
    }
}

.container {
    max-width: 1920px;
    padding: 0 10px;
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .container {
        padding: 0;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.header-1 {
    font-size: 38px;
    line-height: 51px;
    margin-bottom: 19px;
    letter-spacing: 0.16px;
}

@media (min-width: 1600px) {
    .header-1 {
        font-size: 76px;
        line-height: 102px;
        margin-bottom: 40px;
    }
}

.header-2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .header-2 {
        font-size: 24px;
    }
}

.header-3 {
    font-weight: 700;
    opacity: 0.5;
}

@media (min-width: 1600px) {
    .header-3 {
        font-size: 20px;
        line-height: 27px;
    }
}

.button {
    max-width: 340px;
    height: 64px;
    display: block;
    text-align: center;
    color: #383A48;
    line-height: 56px;
    font-weight: 700;
    font-size: 16px;
    border: 4px solid #383A48;
    margin-top: 16px;
}

@media (min-width: 1600px) {
    .button {
        max-width: 293px;
        height: 85px;
        line-height: 75px;
        font-size: 22px;
        border: 5px solid #383A48;
        padding: 0 36px;
    }
}

.login-button {
    max-width: 98px;
    height: 28px;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    padding: 0 11px;
    border: 2px solid #383A48;
}

@media (min-width: 554px) {
    .login-button {
        order: 2;
    }
}

@media (min-width: 1600px) {
    .login-button {
        max-width: 230px;
        height: 85px;
        font-size: 22px;
        line-height: 75px;
        border: 5px solid #383A48;
        padding: 0 30px;
        margin-right: 40px;
    }
}

.register-button {
    margin-top: 28px;
}

@media (min-width: 1600px) {
    .register-button {
        max-width: 344px;
        margin-right: 40px;
        margin-top: 16px;
    }
}

.yellow-button {
    background: #F6E049;
}

.hidden-button {
    display: none;
}

@media (min-width: 1600px) {
    .hidden-button {
        display: block;
        order: 3;
        margin: 0;
    }
}

.site-top {
    padding: 14px 0 46px;
    background: #7FD6C2;
}

@media (min-width: 1600px) {
    .site-top {
        padding: 33px 0 175px;
    }
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width: 1600px) {
    .site-header {
        justify-content: flex-start;
        padding: 0 10px 0 100px;
    }
}

@media (min-width: 1700px) {
    .site-header {
        padding: 0 110px;
    }
}

.site-logo {
    max-width: 144px;
    margin-right: auto;
}

@media (min-width: 561px) {
    .site-logo {
        margin-right: 0;
    }
}

@media (min-width: 1600px) {
    .site-logo {
        max-width: 314px;
        height: 61px;
    }
}

.site-nav {
    margin-top: 14px;
}

@media (min-width: 554px) {
    .site-nav {
        margin: 0;
    }
}

@media (min-width: 1600px) {
    .site-nav {
        margin: 0 auto 0 60px;
    }
}

.site-nav a {
    font-size: 12px;
    color: #383A48;
    margin-right: 30px;
}

@media (min-width: 1600px) {
    .site-nav a {
        font-size: 22px;
        line-height: 61px;
    }
}

.site-nav a:last-child {
    margin-right: 0;
}

.site-img {
    max-width: 265px;
    margin: 40px auto;
}

@media (min-width: 400px) {
    .site-img {
        max-width: 70%;
    }
}

@media (min-width: 700px) {
    .site-img {
        max-width: 476px;
    }
}

@media (min-width: 1600px) {
    .site-img {
        max-width: 788px;
        margin: auto;
    }
}

.site-intro {
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .site-intro {
        flex-direction: row-reverse;
        margin-top: 50px;
    }
}

@media (min-width: 1600px) {
    .site-intro {
        margin-top: 125px;
    }
}

@media (min-width: 900px) {
    .intro-container {
        max-width: 350px;
        margin-left: auto;
    }
}

@media (min-width: 1600px) {
    .intro-container {
        max-width: 678px;
        margin-left: 100px;
    }
}

@media (min-width: 1600px) {
    .button-container {
        display: flex;
        margin-top: 95px;
    }
}

.timetable {
    padding-bottom: 46px;
    background-color: #EEBED3;
}

@media (min-width: 1600px) {
    .timetable {
        padding-bottom: 0;
    }
}

.timetable-header{
    font-weight: 600;
    opacity: 0.5;
}

@media (min-width: 1600px) {
    .timetable-header {
        font-size: 32px;
    }
}

.timetable-content {
    display:flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .timetable-content {
        flex-direction: row;
        padding-top: 100px;
    }
}

@media (min-width: 1600px) {
    .timetable-content {
        padding-top: 0px;

    }
}

@media (min-width: 900px) {
    .timetable-container {
        max-width: 350px;
        margin-right: auto;
    }
}

@media (min-width: 1600px) {
    .timetable-container {
        max-width: 700px;
        margin: 155px 86px;
    }
}

.more-button {
    margin-top: 28px;
}

@media (min-width: 1600px) {
    .more-button {
        display: none;
    }
}

.price-list-button {
    display: none;
    max-width: 321px;
    margin-top: 71px;
}

@media (min-width: 1600px) {
    .price-list-button {
        display: block;
    }
}

.opinions {
    background-color: #F3F6E6;
    padding: 46px 0;
}

@media (min-width: 1600px) {
    .opinions {
        padding: 150px 0;
    }
}

@media (min-width: 700px) {
    .content {
        text-align: center; 
    }
}

@media (min-width: 1600px) {
    .content {
        padding: 0 147px;
    }
}

@media (min-width: 900px) {
    .description {
        max-width: 593px;
        margin: 0 auto;
    }
}

@media (min-width: 1600px) {
    .description {
        max-width: 1199px;
    }
}

.opinions-users {
    padding-top: 43px;
}

@media (min-width: 900px) {
    .opinions-users {
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 1600px) {
    .opinions-users {
        padding-top: 120px;
    }
}

.opinions-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 900px) {
    .opinions-user {
        max-width: 368px;
    }
}

.user-image {
    max-width: 135px;
    max-height: 135px;
}

@media (min-width: 1600px) {
    .user-image {
        max-width: 220px;
        max-height: 220px;
    }
}

.opinions-stars {
    max-width: 166px;
    max-height: 23px;
}

@media (min-width: 1600px) {
    .opinions-stars {
        max-width: 270px;
        max-height: 38px;
    }
}

.user-name {
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    margin: 13px 0;
}

@media (min-width: 1600px) {
    .user-name {
        font-size: 28px;
        line-height: 45px;
        margin: 21px 0;
    }
}

.opinions-text {
    font-size: 14px;
    margin: 36px 0 46px 0;
}

@media (min-width: 1600px) {
    .opinions-text {
        font-size: 20px;
        margin: 57px 0 0 0;
    }
}

.packages {
    background-color: #F3F6E6;
    height: 2316px;
    position: relative;
}

@media (min-width: 400px) {
    .packages {
        height: 2187px;
    }
}

@media (min-width: 1100px) {
    .packages {
        padding: 0;
        height: 950px;
    }
}

@media (min-width: 1600px) {
    .packages {
        height: 1716px;
    }
}

.packages-content {
    background-color: #F6E049;
    position: absolute;
    clip-path: ellipse(310% 100% at 50% 0);
    left: 0;
    right: 0;
    padding: 46px 0 83px;
}

@media (min-width: 1100px) {
    .packages-content {
        clip-path: ellipse(150% 97% at 50% 0);
    }
}

@media (min-width: 1600px) {
    .packages-content {
        clip-path: ellipse(93% 97% at 50% 0);
        padding: 150px 0 354px;
    }
}

.packages-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1100px) {
    .packages-items {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1600px) {
    .packages-items {
        margin-top: 92px;
    }
}

.packages-item {
    background-color: #F3F6E6;
    border: 6px solid #383A48;
    border-radius: 3px;
    margin-top: 28px;
    width: 340px;
}

@media (min-width: 1100px) {
    .packages-item:first-child {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }  
    .packages-item:last-child {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@media (min-width: 1100px) {
    .packages-item {
        width: 453px;
    }
    .packages-item:nth-child(2) {
        width: 509px;
    }
}

.item-container {
    padding: 45px 32px;
}

@media (min-width: 1600px) {
    .item-container {
        padding: 68px 40px;
    }
}

.item-content {
    display: flex;
    margin: 0 auto 18px;
    max-width: 264px;
}

@media (min-width: 1600px) {
    .item-content {
        text-align: left;
        max-width: 364px;
    }
}

.item-header {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
}

@media (min-width: 1600px) {
    .item-header {
        font-size: 64px;
        line-height: 86px;
    }
}

.item-circle {
    max-width: 36px;
    max-height: 36px;
}

@media (min-width: 1600px) {
    .item-circle {
        max-width: 49px;
        max-height: 49px;
    }
}

.item-text {
    font-size: 18px;
    line-height: 30px;
    max-width: 203px;
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .item-text {
        font-size: 24px;
        line-height: 39px;
        max-width: 277px;
    }
}

.item-button {
    margin-top: 48px;
}

@media (min-width: 1200px) {
    .item-button {
        max-width: 328px;
        padding: 0;
        margin: 72px auto 35px;
    }
}

.opacity {
    opacity: 0.5;
}

.popular-item {
    display: flex;
    border-bottom: 6px solid #383A48;
    background: #E0719E;
}

.header-popular {
    font-weight: 900;
    font-size: 22px;
    margin: 14px auto;
    color: #FFFFFF;
    line-height: 39px;
}

@media (min-width: 1600px) {
    .header-popular {
        font-size: 32px;
        line-height: 43px;
        margin: 38px auto;
    }
}